body {
  margin: 0;
  padding: 0; }

#nav-handle {
  width: 90px;
  font-family: Consolas, "courier new";
  background: rgba(33, 44, 44, 0.75);
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: .5em 0 .25em 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  cursor: pointer; }
  #nav-handle.open {
    top: -100%; }

#nav {
  width: 280px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: -999px;
  margin-left: -140px;
  background: rgba(33, 44, 44, 0.75);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden; }
  #nav a {
    font-family: Consolas, "courier new";
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: .5em 0 .25em 0;
    line-height: 1; }
    #nav a:hover, #nav a:active, #nav a:focus {
      background: rgba(255, 255, 255, 0.2); }
    #nav a.close {
      cursor: pointer;
      color: #ff8080; }
  #nav.open {
    top: 0; }

#respre img {
  display: none;
  width: 100%; }
